@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
body{
    margin: 0;
    background-color: #ffffff;
}
.heroSection{
    padding-top: 10vh;
    height: fit-content;
    background: linear-gradient(90deg, #008E86, #08CC9D);
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.navIcon{
    display: none;
}
.navIcon:hover{
    opacity: 0.5;
}
.navbar{
    position: absolute;
    right: 0;
    z-index: 100;
    margin-top: 30px;
}
.navbar a{
    margin-inline: 10px;
    text-decoration: none;
    font-size: 1vw;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}
.navbar a:hover{
    color: #d3d3d3;
}
.loginBtn{
    margin-inline: 10px;
    text-decoration: none;
    font-size: 1vw;
    font-family: 'Roboto', sans-serif;
    color: #000000 !important;
    background-color: #ffffff !important;
    padding: 10px 20px;
    border-radius: 75px;
}
.loginBtn:hover{
    color: #2e2e2e !important;
    background-color: #e4e4e4 !important;
}
.logoImg{
    position: absolute;
    left: 0;
    top: 0;
    max-width: 105px;
    max-height: 105px;
    z-index: 100;
}
.heroContainer{
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-inline: auto;
    justify-content: center;
    align-items: center;   
}
.heroContainer div{
    margin: auto; 
}
.heroContainer div div{
    text-align: left;
    margin-top: 20px;
}
.heroContainer div div a{
    margin-left: 35px;
    background-color: rgb(29, 29, 29);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 75px;
    margin-left: 30px !important; 
    margin: 10px;
    width: 13vw;
    height: 1.5vw;
    font-size: 1vw;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
}
.downloadBtn{
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
}
.downloadBtn:hover{
    background-color: rgb(219, 219, 219) !important;
    color: rgb(65, 65, 65) !important;
}
.heroContainer div div a:hover{
    background-color: rgb(58, 58, 58);
    color: rgb(214, 214, 214);
}
.heroContainer div h1{
    margin: 0;
    text-align: left;
    margin-left: 35px;
    color: #ffffff;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3vw;
}
.heroContainer div p{
    margin: 0;
    text-align: left;
    margin-left: 40px;
    color: #ffffff;
    width: 60%;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2vw;
}
span{
    font-size: 3vw;
    background: -webkit-linear-gradient(#F1FF54, #ffe345);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 10vh;
}
.layer1 {
    width: 100%;
    /* background-image: url('./images/wavesOpacity.svg'); */
    transform: rotate(180deg);
    background: linear-gradient(-90deg, #008E86, #08CC9D);
    background-image: url('./images/wavesOpacity.svg'), linear-gradient(-90deg, #008E86, #08CC9D);
}
.layer2 {
    background-image: url('./images/wavesOpacity\ \(3\).svg');
    transform: rotate(180deg);
    background-color: #ffffff;
}
.ChatImg{
    width: 80%;
}
.image-chat-hero-div{
    width: 100%;
}
.infoDivContainerLeftImg{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-inline: auto;
    justify-content: center;
    align-items: center;  
    overflow: hidden; 
}
.infoContainerImgDiv img{
    width: 60%;
    margin: 30px;
}
.infoContainerImgDiv{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.infoContainerTextDiv{
    text-align: left !important;
    display: flex;
}
.inner-infoTextContainer{
    width: 65%;
    margin: auto;
}
.infoContainerTextDiv h1{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
}
.infoContainerTextDiv p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}
@media only screen and (max-width: 1000px) {
    .heroContainer div h1{
        margin-left: 0;
        text-align: center;
        font-size: 12vw !important;
    }
    .heroContainer div p{
        margin: auto;
        text-align: center;
        font-size: 5vw !important;
    }
    span{
        text-align: center;
        font-size: 12vw !important;
    }
    .image-chat-hero-div{
        display: none;
    }
    .heroContainer{
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-inline: auto;
    }
    .heroSection{
        padding-top: 15vh;
        height: fit-content;
    }
    .downloadopen-div{
        text-align: center !important;
    }
    .heroContainer div div a{
        border-radius: 75px;
        margin: 10px;
        width: 50vw;
        height: 30px;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
    }
    .infoDivContainerLeftImg{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .infoContainerTextDiv h1{
        font-size: 7vw;
        margin-top: 0;
    }
    .infoContainerTextDiv p{
        font-size: 4vw;
    }
    .inner-infoTextContainer{
        width: 80%;
        margin: auto;
    }
    .infoContainerImgDiv img{
        width: 70%;
    }
    .navIcon{
        display: block;
        position: absolute;
        right: 0;
        height: 75px;
        width: 75px;
        z-index: 999;
        margin: 10px;
    }
    .navbar{
        display: none;
    }
    .infoContainerEnd{
        display: flex;
        height: 30vh;
        background-color: #ffffff;
        text-align: center;
    }
    .infoContainerEnd div{
        width: 80% !important;
    }
    .infoContainerEnd h1{
        font-size: 5vw !important;
    }
    .infoContainerEnd a{
        width: 35vw !important;
        height: 3vw !important;
        font-size: 3vw !important;
    }
}
.infoContainer1{
    height: fit-content;
    background-color: #ffffff;
}
.infoContainer2{
    height: fit-content;
    background-color: #A9CEE6;
}
.infoContainerEnd{
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    height: fit-content;
    background-color: #ffffff;
    text-align: center;
}
.infoContainerEnd div{
    width: 40%;
    margin: auto;
}
.infoContainerEnd h1{
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2vw;
}
.infoContainerEnd a{
    background-color: rgb(29, 29, 29);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 75px;
    margin: 10px;
    width: 13vw;
    height: 1.5vw;
    font-size: 1vw;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
}
.infoContainerEnd a:hover{
    background-color: rgb(58, 58, 58);
    color: rgb(214, 214, 214);
}
.openBtnEnd{
    display: none !important;
}
@media (pointer:coarse) {
    .downloadBtn{
        display: none !important;
    }
    .downloadBtnEnd{
        display: none !important;
    }
    .openBtnEnd{
        display: inline-flex !important;
    }
}
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    transition-delay: 100ms;
}